# Global Ignore Files

# OS-related files
.DS_Store
Thumbs.db

# Logs and Debugging
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Ignore environment variable files
.env
.env.local
.env.production
.env.development

# Backend Ignore Files

# Node Modules
backend/node_modules/

# Build Output
backend/dist/
backend/build/

# Database Files
backend/*.sqlite
backend/dump.sql

# Frontend Ignore Files

# Node Modules
frontend/node_modules/

# Build Output
frontend/dist/
frontend/build/
frontend/.next/

# Cache and Temporary Files
frontend/.cache/
frontend/.parcel-cache/

# React/Vue/Next.js Specific Files
frontend/.eslintcache

# IDE and Editor Ignore Files

.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Miscellaneous

/uploads
/tmp
/out
node_modules
